name: Build and Deploy to Prod

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8
          
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'
          cache: 'pnpm'
        
      - name: Install Dependencies
        run: pnpm install

      - name: Run Build
        run: pnpm run build

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Setup SSH
      uses: webfactory/ssh-agent@v0.5.4
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

    - name: Add EC2 host to known hosts
      run: ssh-keyscan -H ${{ secrets.EC2_PUBLIC_IP }} >> ~/.ssh/known_hosts

    - name: Create symlinks and deploy to EC2
      run: |
        ssh ubuntu@${{ secrets.EC2_PUBLIC_IP }} -t "
          export NVM_DIR=\"\$HOME/.nvm\" && 
          [ -s \"\$NVM_DIR/nvm.sh\" ] && . \"\$NVM_DIR/nvm.sh\" && 
          
          sudo ln -sf \"\$NVM_DIR/versions/node/\$(nvm version)/bin/node\" \"/usr/local/bin/node\" && 
          sudo ln -sf \"\$NVM_DIR/versions/node/\$(nvm version)/bin/npm\" \"/usr/local/bin/npm\" && 
          sudo ln -sf \"\$NVM_DIR/versions/node/\$(nvm version)/bin/pm2\" \"/usr/local/bin/pm2\" && 
          
          rm -rf canvas && rm -rf ws-backend && rm -rf ws-relayer && git clone https://github.com/bandhan-majumder/canvas && cd canvas && cp -r app/ws-backend ../ && cp -r app/ws-relayer ../ && cd .. && rm -rf canvas && npm install -g pnpm && pm2 kill && cd ws-relayer && pnpm install && pnpm build && pm2 start pnpm --name "ws-relayer" -- start && cd .. && cd ws-backend && pnpm install && pnpm build && pm2 start pnpm --name "ws-backend" -- start
        "