name: Build and Deploy to Prod

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
        
      - name: Install Dependencies
        run: bun install

      - name: Run Build
        run: bun run build

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Setup SSH
      uses: webfactory/ssh-agent@v0.5.4
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

    - name: Add EC2 host to known hosts
      run: ssh-keyscan -H ${{ secrets.EC2_PUBLIC_IP }} >> ~/.ssh/known_hosts

    - name: Create symlinks and deploy to EC2
      run: |
        ssh ubuntu@${{ secrets.EC2_PUBLIC_IP }} -t "
          set -e

          echo 'Updating code'
          cd canvas
          git pull origin main

          echo 'Stopping old containers'
          sudo docker stop canvas-ws-be || true
          sudo docker rm canvas-ws-relayer || true

          echo 'Deleting the image'
          sudo docker rmi canvas-ws-be-img || true
          sudo docker rmi canvas-ws-relayer-img || true

          echo 'Building image'
          sudo docker build -t canvas-ws-relayer-img -f apps/ws-relayer/Dockerfile .
          sudo docker build -t canvas-ws-be-img -f apps/ws-backend/Dockerfile .

          echo 'Running relayer container'
          sudo docker run -d \
            --net=host \
            --name canvas-ws-relayer \
            --env-file /home/ubuntu/canvas/.env.server \
            canvas-ws-relayer-img:latest
          
          echo 'Running relayer container'
          sudo docker run -d \
            --net=host \
            --name canvas-ws-be \
            --env-file /home/ubuntu/canvas/.env.server \
            canvas-ws-be-img:latest
        "